--find-links https://storage.googleapis.com/jax-releases/
jax[cuda11_cudnn805]
jaxlib==0.1.74+cuda11.cudnn805  # not sure that version will work on other zizgpu0x
dm-haiku
optax
fsspec[http]>=2021.05.0, !=2021.06.0
hydra_core==1.1.1
hydra_colorlog==1.1
# submitit
git+https://github.com/emilemathieu/submitit.git#egg=submitit
# hydra-submitit-launcher
git+https://github.com/emilemathieu/hydra.git#egg=hydra-submitit-launcher&subdirectory=plugins/hydra_submitit_launcher
hydra-joblib-launcher==1.1.5